<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/static/css/styles.css">
    <title>Movies - My movie website</title>
</head>

<body>
   <% console.log(data) %>
    <figure>
        <h2>
        <%= data.title %>
    </h2>
    <% if (data.photo) { %>
    <img src="static/upload/<%= data.photo %>">
    <% } %>
    <figcaption>
        <%= data.description %>
         <a id="back-btn" href="/.">Back</a>
         <a id="delete-btn" href="/delete">Delete</a>
    </figcaption></figure>
    
</body>
