<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Upload your picture</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/static/css/styles.css">
</head>

<body>
    <h1>Add a picture to your gallery</h1>
    <p><a href="/.">Back</a></p>
    <form action=/ method=post>
        <label>Title <input name=title></label>
        <label>
            Description
            <textarea name=description rows=5></textarea>
        </label>
        <button>Upload</button>
    </form>
</body>

</html>
